.defaultNavbar {
  height: 170px;
  background-color: none;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 5px;
  &__link {
    padding-right: 70px;
    padding-left: 35px;
  }
  &__logo {
    width: 150px;
    height: 40px;
  }
}

.dropdown-menu.show {
  color: 'white';
  background-color: transparent;
  border: none;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav.show {
  color: 'white';
}
